<link rel="import" href="../my-redux.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="x-page-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">2</div>
      <h1>View Two</h1>
      <p>Modus commodo minimum eum te, vero utinam assueverit per eu.</p>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.Has at minim mucius aliquam, est id tempor laoreet.Pro saepe pertinax ei, ad pri animal labores suscipiantur.</p>

      <pre>[[_str(fetchState)]]</pre>


      <paper-button raised on-tap="_btnTap">slow jsonFetch</paper-button>
    </div>
  </template>

  <script>
(function(){

    class XPageView2 extends POLYDUX.MyReduxElement {
      static get is() { return 'x-page-view2'; }

      static get properties() {
        return {
          fetchState: {
            type: Object,
            statePath: 'fetch'
          }
        };
      }

      _btnTap() {
        this.jsonFetch(`/api/foo/${Date.now()}?delay=3`).catch(err => {
          this.dispatch('updateMessage', err.message);
        });
      }
    }

    window.customElements.define(XPageView2.is, XPageView2);

})();
  </script>
</dom-module>
